/* :root[data-theme="light"] {
    --text: #02161d;
    --background: #ecf9fe;
    --primary: #055676;
    --secondary: #023140;
    --accent: #008db8;
  }
  :root[data-theme="dark"] {
    --text: #e2f6fd;
    --background: #010e13;
    --primary: #89dafa;
    --secondary: #bfedfd;
    --accent: #47d4ff;
  } */

  @media (prefers-color-scheme: light) {
    :root {
      --text: #02161d;
      --background: #ecf9fe;
      --primary: #055676;
      --secondary: #023140;
      --accent: #008db8;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #e2f6fd;
      --background: #010e13;
      --primary: #89dafa;
      --secondary: #bfedfd;
      --accent: #47d4ff;
    }
  }
  

  *{
    background-color: var(--background);
    color: var(--text);

    font-family: Poppins;
  }
  body {
    display: flex;
    justify-content: center;
  }

  section {
    border-right: 2px solid var(--accent);
  }

  .leftPanel{
    height: 100vh;
    max-width: 480px;

    flex: 2;
  }
  .rightPanel {
    height: 100vh;
    max-width: 400px;
    border: none;

    flex: 1;
  }
  .centerPanel {
    height: 100vh;
    max-width: 700px;

    flex: 3;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    overflow-x: scroll;
  }

  .post{
    margin: 5px auto;
    border: 1px solid var(--text);

    min-height: 100px;
    max-width: 500px;

    padding: 10px;
  }
  .profile{
    /* border: 1px dashed var(--primary); */
    display: flex;

    max-height: 50px;
    overflow: hidden;
  }
  .profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--accent);
  }
  .name{
    margin-left: 10px;
    margin-top: -10px;
  }
  h3 {
    font-size: 14px;
  }
  h3 > span{
    font-size: 10px;
  }
  .content{
    padding: 20px 15px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .content img{
    padding: auto;
    max-width: 300px;
    border-radius: 20px;
  }
  .post_footer{

  }
  .post_footer input{
    margin-left: 15px;
    border: none;
    color: #008db8;

    cursor: pointer;
  }
  